body {
  height: 100%;
  text-align: center;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

button {
  display: block;
  margin: 15px auto;
}

#bio {
  max-width: 60%;
  margin: 15px auto;
  padding: 10px;
}
